.container {
  position: relative;
  width: 100vw; //200px
  height: 100vh; //200px for little representation
  overflow: hidden; 
}

.line {
  position: absolute;
}

.top, .bottom {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, black, transparent); /* Creates a horizontal gradient with transparent edges */
}

.right, .left {
  width: 2px;
  height:100%;
  background: linear-gradient(to bottom, transparent, black, transparent); /* Creates a vertical gradient with transparent edges */
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0;
}

.left {
  left: 0;
}
